button.primary {
  border: none;
  background-color: skyblue;
  font-size: 1.2em;
  color: #ffffff;
  font-weight: bold;
  padding: 10px 30px;
}

button:hover {
  cursor: pointer;
}

button.submit {
  border: none;
  font-size: 0.8em;
  width: 20%;
}
