body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.error {
  color: red;
  text-align: center;
}

main {
  padding: 5vh 10vw;
}

nav {
  padding: 1vh 1vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #eeeeee;
}

nav > a {
  text-decoration: none;
  color: black;
  font-size: 1.4em;
  font-weight: bold;
}